body {
  font-family: "Times New Roman", Times, serif;
}
/*CORES ABANORTE

#fdd500 - amarela
#45101b - roxa
#e34d49 - salmão
#eedeba - salmão claro

*/

#container {
  width: 100%;
  /*background: linear-gradient(yellow, orange, #ff4500, orange, yellow);*/
  background: linear-gradient(#fdd500, #eedeba, #e34d49);
}
#topo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /*background: #fffc59;
  border: solid #7a0606;*/
  background: linear-gradient(to right, #fdd500, #eedeba, #fdd500);
  border: solid #45101b;
}
div#topo {
  text-align: center;
}
#menu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu a,
#menu a:visited {
  text-decoration: none;
  /*color: #7a0606;*/
  color: #45101b;
  padding: 1% 2%;
  margin: 2%;
  font-size: 120%;
  display: block;
}
#menu a:hover {
  /*background: #7a0606;
  color: #fffc59;
  border: 2px solid black;*/
  background: #45101b;
  color: #fdd500;
  border: 2px solid #eedeba;
}
#menu a.change {
  /*background: #7a0606;
  color: #fffc59;
  border: 2px solid black;*/
  background: #45101b;
  color: #fdd500;
  border: 2px solid #eedeba;
}
p a {
  text-decoration: none;
  /*color: #fffc59;
  background: #7a0606;*/
  background: #45101b;
  color: #fdd500;
  padding: 1%;
}
p a:hover {
  background: #fdd500;
  color: #45101b;
}
/*Corpo do Site*/
#coluna {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*Imagens no centro*/

img {
  margin: auto;
  display: block;
  width: 60%;
}
#separador img {
  display: block;
  margin: 0;
  width: 100%;
}
#coluna img {
  border: solid #7a0606;
}
img.cardapio {
  float: left;
  height: 10%;
  width: 10%;
  margin-bottom: 10%;
  display: block;
}

/*Rodapé*/

#rodape {
  padding: 3%;
  color: cornsilk;
  font-size: 1em;
  background-color: black;
  opacity: 0.5;
}

/*Links dos cardapios*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin-bottom: 5%;
}
ul li a {
  text-decoration: none;
  color: black;
}
ul li a img {
  float: left;
  width: 15%;
}
ul li h3,
ul li p {
  padding-left: 20%;
}

.limpar {
  clear: both;
}
